<div class="p-fluid center">
  <form [formGroup]="loginFormControl">
    <div class="p-field">
      <label for="user-input">USER</label>
      <input id="user-input" type="text" pInputText formControlName="userName" required>
    </div>
    <div class="p-field">
      <label for="password-input">PASSWORD</label>
      <p-password id="password-input" formControlName="password" [feedback]="false" [toggleMask]="true" required></p-password>
    </div>
    <div class="p-d-flex p-flex-column p-flex-md-row-reverse">
      <button pButton type="button" label="ENTRAR" class="p-mb-2 p-mr-2 p-button-outlined p-button-success" (click)="attemptLogin()"></button>
      <button pButton type="button" label="REGÍSTRATE" class="p-mb-2 p-mr-2 p-button-outlined"
              (click)="showRegistrationDialog()"></button>
    </div>
  </form>
</div>
<p-dialog [(visible)]="displayRegistrationDialog">
  Por favor, contacte con el administrador para solicitar un usuario y contraseña.
</p-dialog>
